<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %} <!--css, js, images 로딩 최상단에 위치!-->
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!--  Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

    <title>Title</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>