{% extends "../base.html" %}
{% block content %}
<main class="container">
    {% if question %}
    <p> 제목 : {{question.subject}}</p>
    <p> 작성일 : {{question.create_date|date:"Y년 m월 d일"}}</p>
    <div> 내용 :
        <p>
            {{question.content}}
        </p>
    </div>
    {% else %}
    <p> 데이터가 소실 되었습니다 </p>
    {% endif %}

    <form name="answer" action="{% url 'pybo:answer_create' question.id %}" method="post">
        {% csrf_token %}
        <!-- form validation 기능 end -->
        {% include "form_errors.html" %}
        <!-- form validation 기능 end -->

        <textarea name="content" id="content" rows="15">{{ form.content.value|default_if_none:'' }}</textarea>
        <input type="submit" value="답변등록" name="submit_answer">
    </form>
    <h3>답변: {{question.answer_set.count}}</h3>
    <div>
        <ul>
            {% for answer in question.answer_set.all %}
            <li>{{answer.content}}</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}