{% extends "./base.html" %}
{% block content %}
<main class="container">
    {% if question %}
    <p> 제목 : {{question.subject}}</p>
    <p> 작성일 : {{question.create_date|date:"Y년 m월 d일"}}</p>
    <p> 내용 : {{question.content}}</p>
    {% else %}
    <p> 데이터가 소실 되었습니다 </p>
    {% endif %}

    <form name="answer" action="{% url 'pybo:answer_create' question.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>
    <h3>답변: {{question.answer_set.count}}</h3>
    <div>
        <ul>
            {% for answer in question.answer_set.all %}
            <li>{{answer.content}}</li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}