<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %} <!--css, js, images 로딩 최상단에 위치!-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!--  Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <title>Title</title>
</head>
<body>
<!-- container start -->
<main class="container">
    <!-- 제목 -->
    <div class="text-start m-5">
        <h2>질문 목록</h2>
    </div>
    <!-- 제목 end -->

    <!-- 버튼 -->
     <div class="d-grid gap-2 d-md-flex justify-content-end mb-4">
        <input type="button" class="btn btn-outline-secondary btn-sm" value="조회">
        <a href="#" class="btn btn-outline-primary btn-sm">등록</a>
    </div>
    <!-- 버튼 end -->

    <!-- 등록 form -->
    <form action="#" method="post">
        <div class="mb-3 row">
            <label for="subject" class="col-sm-2 col-md-2 col-lg-2 col-form-label">제목</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <input type="text" class="form-control" id="subject" name="subject">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="reg_id" class="col-sm-2 col-md-2 col-lg-2 col-form-label">등록자</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <input type="text" readonly class="form-control" id="reg_id" name="subject">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="content" class="col-sm-2 col-md-2 col-lg-2 col-form-label">내용</label>
            <div class="col-sm-10 col-md-10 col-lg-10">
                <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
    </form>
    <!-- 등록 form end -->

</main>
<!-- table end -->
<!-- paging -->
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<!-- paging end -->
<!-- container end-->
</body>
</html>