<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="content=" width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %} <!--css, js, images 로딩 최상단에 위치!-->
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!--  Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="{% static 'bootstrap.min.js' %}" defer></script>

    <title>Title</title>
</head>
<body>
{% include './navbar.html' %}
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>